<h1 class="mat-display-1">Welcome to File Uploader</h1>

<h1>List of uploaded files:</h1>
<span class="example-list-section">
  <ul>
    <li *ngFor="let img of imageList">
      <mat-checkbox [(ngModel)]="img.checked">
        {{ img.name }}
      </mat-checkbox>
    </li>
  </ul>
</span>

<div>
  <button mat-stroked-button color="primary" (click)="transformPhoto()">
    Transform selected
  </button>
  <button mat-stroked-button color="primary" (click)="downloadMany()">
    Download selected
  </button>
</div>

<h1>Upload a file:</h1>

<input
  #imageInput
  hidden="true"
  type="file"
  onclick="this.value=null"
  id="customFile"
  ngf-max-size="4MB"
  accept="image/*"
  (change)="fileChange($event)"
/>
<button mat-flat-button color="primary" (click)="imageInput.click()">
  Choose Image
</button>
<h3 class="mat-body" *ngIf="file">
  {{ file.name }}
</h3>
<div>
  <button mat-stroked-button color="primary" (click)="awsS3Verification()">
    AWS upload
  </button>
</div>
